<button class="{{ buttonClass }} button" type="{{ type }}">
    <span class="{{ textClass }}" style="visibility: {{ textVisible }}">{{ name }}</span>
    <div class="{{ arrowClass }}" style="visibility: {{ divVisible }}"></div>
</button>

