<div class="login__field-box">
    <label htmlFor="{{ this.name }}" class="login__field-label">{{ this.title }}</label>
    <input class="login__input" name="{{ this.name }}" type="{{ this.type }}" minlength="{{ this.minLength }}" required />
    <span class="login__input-error">Wrong {{ this.title }}</span>
</div>