<div class="{{this.form}}">
    <label htmlFor="{{this.name}}" class="{{this.labelStyle}}">{{this.title}}</label>
    <input class="{{this.inputStyle}}" name='{{this.inputName}}' type='{{this.inputName}}' minLength='{{this.minLength}}' required/>
    <span class="{{this.errorStyle}}">{{this.errorText}}</span>
</div>