<li class="{{ partialClass }}">
    <div class="{{containerClass}}">
        <label htmlFor="{{ name }}" class="{{labelClass}}">
            {{ title }}
        </label>
        {{{ input }}}
    </div>
    <span class="{{errorClass}}">Wrong {{ title }}</span>
</li>
