<li class="login__field-box">
    <label htmlFor="{{ name }}" class="login__field-label">{{ title }}</label>
<!--    <input class="login__input" name="{{ name }}" type="{{ type }}" minlength="{{ minLength }}" required />-->
    {{{ input }}}
    <span class="login__input-error">Wrong {{ title }}</span>
</li>
